.login-register__password {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    padding-bottom: 8px;
    padding-left: 0;
    color: white;
}

.login-register__password:focus {
    border-bottom: 2px solid cyan;
    outline: none;
}

.login-register__password::placeholder {
    color: #CCCCCC;
}